/* main.css */

* {
    box-sizing: border-box; /* HTML defaults to content-box. Border box is better. */
}

body {
    background-image: url(https://preview.redd.it/vba0g42l7ok81.png?width=1440&format=png&auto=webp&s=267c74245d54d29efaaa6057b9ae04f1f90b9394);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#formDiv {
    margin: 50px auto;
    background-color: rgba(150,150,150,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 25px;
    padding: 20px;

}

label {
    display: inline-block;
    width: 46px;
    padding:10px;
}

input {
    display: inline-block;
    width: calc(100% - 53px);
    background-color: rgba(150, 50, 50, 0.0);
    border-color: white;
    border-radius: 10px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    min-width: 300px;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color:rgba(150, 50, 50, 0);
    color: white;
    margin: 10px;
}

#resultsTable {
    margin-top: 25px;
    background-color: rgba(59, 65, 77, 0.4);
}

#form {
    background-color: rgba(59, 65, 77, 0.4);
    margin-left: 10px;
    margin-right: 10px;
}

input {
    margin: 10px;
}

td {
    border-style: solid;
    border-color: rgb(247, 240, 240, 0.8);
    color: white;
}

a {
    color: white;
}